<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clause</title>
</head>

<body>

<h1 th:text="${clause}" >Author</h1>

<div th:include="header::header"> HEADER </div>

<!--<a th:each ="page : ${pages}">-->
<!--<a th:each="page : ${#numbers.sequence( 0, pages)}">-->
    <!--<a th:text="${page}" th:href="@{'http://localhost:8080/words?page='+${page}}">-->
        <!--page-->
    <!--</a>-->
<!--</a>-->

<!--<div style="margin-right: 8px;">-->
<!--<a th:text="${word.id}" th:href="@{'http://localhost:8080/word/'+${word.id}}"> </a>-->
<!--</div>-->

<!--<div style="display: flex; flex-direction: column; flex-wrap: wrap; max-height: 85vh;">-->
<!--<i style="display: flex;" th:each ="word : ${words}">-->
    <span th:each ="word : ${words}">
        <!--<div>-->
        <a th:text="${word.word.word}" th:href="@{'http://localhost:8080/word/'+${word.word.id}}"> </a>
        <!--</div>-->
    </span>
<!--</div>-->

<!--<a href="/authors/"> back </a>-->

<!--<div th:replace="footer::footer"> FOOTER </div>-->

</body>

</html>